*
{
 margin:0;
 padding:0;
 -moz-box-sizing:border-box;
 box-sizing:border-box;
}
html{
 font-size:100%;
}
body
{
 font-family:arial;
}

input[type=text],
input[type=password] {
 padding: 0.313rem;
 box-sizing: border-box;
 border-radius: 0.313rem;
 border: 0.063rem solid #ccc;
}

.wrapper
{
 position:absolute;
 top:0px;
 left:0px;
 right:0px;
 bottom:0px;
 background-image: linear-gradient(to top left, #646464 0%, #AACFEF 50%, #969696 100%);
 /*background-color:grey;
 */
}

.header
{
 position:absolute;
 width:100%;
 height:5.5rem;
 top:0;
 padding:1.07142857rem;
 border:0.07142857rem solid #808080;
 
 background-image: linear-gradient(to top right, #646464 0%, #AACFEF 50%, #969696 100%);

 -webkit-border-radius: 0px 0px 1.3rem 1.3rem;
 -moz-border-radius: 0px 0px 1.3rem 1.3rem;
 border-radius: 0px 0px 1.3rem 1.3rem;
}
.position-logo
{
 position:relative;
 width:15rem;
 height:2.7rem;
 border:0 solid red;
 overflow:hidden;
}
.logo
{
 position:relative;
 top:-1.8rem;
 right:1rem;
}
.message-list
{
 position:absolute;
 width:100%;
 top:7.14285714rem;
 bottom:2.14285714rem;
 padding:1.07142857rem;
 border:0 solid black;
 overflow:auto;
}
.controls
{
 position:absolute;
 width:100%;
 height:2.5rem;
 bottom:0;
 padding-left:0.71428571rem;
 padding-right:0.71428571rem;
 padding-top:1.07142857rem;
 border:0.07142857rem solid #808080;
 background-image: linear-gradient(to bottom right, #646464 0%, #AACFEF 50%, #969696 100%);
 -webkit-border-radius: 1.3rem 1.3rem 0px 0px;
 -moz-border-radius: 1.3rem 1.3rem 0px 0px;
 border-radius: 1.3rem 1.3rem 0px 0px;
 overflow:hidden;
}
.mess
{
 position:relative;
 right:0;
 left:0;
 bottom:0.625em;
 width:80%;
 float:left;
}
.button
{
 position:relative;
-moz-border-radius: 15px;
  -moz-box-shadow: #496e78 0px 0px 10px;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-border-radius: 25px;
  -webkit-box-shadow: #6E7849 0 0 10px;
  -webkit-transition: all 0.5s ease;
  background-color: #A9CDEC;
  background-image: -moz-linear-gradient(90deg, #7F8E9A, #A9CDEC);
  background-image: -ms-linear-gradient(90deg, #7F8E9A, #A9CDEC);
  background-image: -o-linear-gradient(90deg, #7F8E9A, #A9CDEC);
  background-image: -webkit-linear-gradient(90deg, #7F8E9A, #A9CDEC);
  background-image: linear-gradient(90deg, #7F8E9A, #A9CDEC);
  border-radius: 15px;
  border: 1px solid #323232;
  box-shadow: #496e78 0px 0px 10px;
  color: #ffffff;
  display: inline-block;
  font-size: 1em;
  margin: auto;
  padding: 3px;
  text-decoration: none;
  text-shadow: #000000 5px 5px 15px;
  transition: all 0.5s ease;
  width: 18%;
  bottom:0.5rem;
  left:0.7rem;
  overflow:hidden;
}
.button:hover {
  padding: 2px;
  
}
.button-home
{
 position:relative;
 width:20%;
 position:relative;
 -moz-border-radius: 15px;
  -moz-box-shadow: #496e78 0px 0px 10px;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-border-radius: 25px;
  -webkit-box-shadow: #6E7849 0 0 10px;
  -webkit-transition: all 0.5s ease;
  background-color: #A9CDEC;
  background-image: -moz-linear-gradient(90deg, #7F8E9A, #A9CDEC);
  background-image: -ms-linear-gradient(90deg, #7F8E9A, #A9CDEC);
  background-image: -o-linear-gradient(90deg, #7F8E9A, #A9CDEC);
  background-image: -webkit-linear-gradient(90deg, #7F8E9A, #A9CDEC);
  background-image: linear-gradient(90deg, #7F8E9A, #A9CDEC);
  border-radius: 15px;
  border: 1px solid #323232;
  box-shadow: #496e78 0px 0px 10px;
  color: #ffffff;
  display: inline-block;
  font-size: 1em;
  margin: auto;
  padding: 3px;
  text-decoration: none;
  text-shadow: #000000 5px 5px 15px;
  transition: all 0.5s ease;
  width: 18%;
  bottom:-0.05rem;
  left:0.7rem;
  overflow:hidden;
}
#home-message-list
{
 position:relative;
 margin:auto;
 width:16rem;
 height:1.8rem;
 top:35%;
 border:0 solid black;
 text-align:center;
}
.input-text
{
 position:relative;
 width:100%;
 left:0;
 right:0;
}